
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-family: 'Roboto', sans-serif;
}

.header {
    grid-area: 1 / 2 / 2 / 11;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 2vw;
    padding-left: 1vw;
    z-index: 2;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.lower_header {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    width: 100%;
}

.header_left {
    display: flex;
    flex-direction: row;
}

.lower_header img {
    height: 8vh;
    border-radius: 50%;
    margin-right: 1vw;
}

.hello_box {
    display: flex;
    flex-direction: column;
    margin-right: 32vw;
}

.user_greet_small {
    margin-bottom: 0.5vh;
    font-family:  inherit;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
}

.user_greetings {
    width: 15vw;
    font-family: inherit;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.header_buttons{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.dummy_button {
    height: 4vh;
    width: 6vw;
    color: white;
    background-color: #22d3ee;
    border-radius: 20px;
    border: none;
    margin-right: 1.5vw;
    font-family: inherit;
}

.dummy_button:hover {
    border: 2px solid #cffafe;
}


.main_content{
    background-color: #cffafe;
    grid-area: 2 / 2 /11 / 11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tweeet_index_container{
    grid-column: 1 / 9;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vh;
    padding: 4vh 4vw;
    justify-items: center;
}

.tweet_title {
    position: absolute;
    top: 14vh;
    left: 20vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.tweeets_span {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    position: relative;
    top: 2.5vh;
    right: 22.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.content_sidebar {
    margin-right: 9vw;
    grid-column: 9 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2.1vw;
    margin-bottom: 1vw;
}

.announcments_box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    width: 15vw;
    height: 34vh;
    overflow: hidden;
    padding: 1.5vw;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.announcment {
    margin-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid lightgrey;
}

.announcment:nth-child(3) {
    border-bottom: none;
}

.announcment:nth-child(1) {
    margin-top: 0vw;
}

.announcments_box span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}

.announcments_box p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.6rem;
}

.trending_box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-color: white;
    width: 15vw;
    height: 26vh;
    padding: 1vw;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.trend {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trend img {
    border-radius: 50%;
    height: 6vh;
    margin-right: 1vw;
}

.trend_description {
    display: flex;
    flex-direction: column;
}

.trend_description span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
}

.trend_description p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.6rem;
}